*/*.tfvars
*.tfstate
init.sh
.terraform.tfstate
.terraform
.terraform/
*.tfstate.backup
*.tfvars
*.tfstate.*
*.tfvars.json
*.tfstate.json
*.tfstate.backup.json
*.terraform.*
*.pem
utils/vault-ca
.DS_Store
vault-ca